<!DOCTYPE html>
<html lang="ja">
  <!-- head -->
  <%- include("./parts/_head",{ path:".", }) -%>

  <body>
    <!-- header -->
    <%- include("./parts/_header",{ path:".", }) -%>

    <main class="main">
      <!-- BackGround -->
      <%- include("./parts/_back-ground",{ path:".", }) -%>
      <!-- FirstView -->
      <%- include("./parts/_first-view",{ path:".", }) -%>
      <!-- about -->
      <%- include("./parts/_promise",{ path:".", }) -%>
      <!-- contact-twitter -->
      <%- include("./parts/_contact-twitter",{ path:".", }) -%>
      <!-- footer -->
      <%- include("./parts/_footer",{ path:".", }) -%>
      <!-- to-top -->
      <%- include("./parts/_to-top",{ path:".", }) -%>
    </main>
  </body>
</html>
